---
import { useTranslations } from "../i18n/utils";
import {defaultLang}from "../i18n/ui";
const t = useTranslations(defaultLang);
import { config } from "../config";
---
<html>
    <head>
        <meta property="og:title" content={config.siteTitle}>
        <meta property="og:site_name" content={config.siteTitle} >
        <meta property="og:url" content="">
        <meta property="og:description" content={config.siteDescription}>
        <meta property="og:type" content="">
        <meta property="og:image" content="https://2024.ubuntu-kr.org/og_all.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content=`@${config.socialMedia.twitter}`>
        <meta name="twitter:title" content={config.siteTitle}>
        <meta name="twitter:description" content={config.siteDescription}>
        <meta name="twitter:image" content="https://2024.ubuntu-kr.org/og_all.png">

        <meta http-equiv="refresh" content=`0;url=/${defaultLang}/` />
        <title>{config.siteTitle}</title>
    </head>
</html>