---
import { config } from "../config";
const redirect_url = "https://event-us.kr/ubuntukr/event/81549";
---
<html>
    <head>
        <meta charset="utf-8">
        <meta property="og:title" content={`Buy tickets(티켓 구매) | ${config.siteTitle}`}>
        <meta property="og:site_name" content={config.siteTitle} >
        <meta property="og:url" content="">
        <meta property="og:description" content={config.siteDescription}>
        <meta property="og:type" content="">
        <meta property="og:image" content="https://2024.ubuntu-kr.org/og_cfp.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content=`@${config.socialMedia.twitter}`>
        <meta name="twitter:title" content={`Buy tickets(티켓 구매) | ${config.siteTitle}`}>
        <meta name="twitter:description" content={config.siteDescription}>
        <meta name="twitter:image" content="https://2024.ubuntu-kr.org/og_cfp.png">

        <meta http-equiv="refresh" content=`0;url=${redirect_url}` />
        <title>{config.siteTitle}</title>
    </head>

    <body>
        <p>리다이렉트가 작동하지 않는다면, <a href={redirect_url}>여기를 클릭하여 직접 리다이렉트 할 수 있습니다.</a></p>
        <p>If page redirect doesn't work, <a href={redirect_url}>click here to redirect manually.</a></p>
    </body>
    
    <script is:inline>
        //redirect
        window.location = {redirect_url}; 
    </script>
</html>

