---
import { config } from "../config";
import { Strip, Col, Row } from "@canonical/react-components";
import { useTranslations, getLangFromUrl } from "@i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type ForumItems = {
    title: string,
    last_posted_at: string,
    slug: string,
    id: number
}

type MappedItems = {
    title: string,
    date: Date,
    link: string
}

const forumDataRaw = await fetch(`${config.forum.forumEndpoint}${config.forum.forumSlug}.json?order=created`);
const forumDataJson = await forumDataRaw.json();

const forumItems = forumDataJson["topic_list"]["topics"].map((item:ForumItems) => {
    return {
        title: item["title"],
        date: new Date(item["last_posted_at"]).toLocaleString('ko-KR'),
        link: `${config.forum.forumEndpoint}/t/${item.slug}/${item.id}`
    }
}).slice(0, 3);
---

<Strip shallow bordered>
    <h2 class="p-heading--4">{t("feed.title")}</h4>
    <Row>
        {
            forumItems.map((item:MappedItems) => (
                <Col size={4}>
                    <a href={item.link}>
                        <h3>{item.title}</h3>
                    </a>
                    <p>{item.date}</p>
                </Col>
            ))
        }
    </Row>
    <Row>
        <Col size={12}>
            <a href={`${config.forum.forumEndpoint}${config.forum.forumSlug}`} class="p-button"
                >{t("feed.more")}</a
            >
        </Col>
    </Row>
</Strip>
