---
import { config } from "../config";
import { Strip, Col, Row } from "@canonical/react-components";
import eventLogo from "@assets/logo.svg";
import { useTranslations, getLangFromUrl } from "@i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const indicoResponse = await fetch(config.featuredSpeakers.indicoExportUrl);
const indicoResJson = await indicoResponse.json();
const sessions = indicoResJson.results
    ? indicoResJson.results[0].contributions
    : null;
const featuredSessions = sessions.filter((session: any) =>
    config.featuredSpeakers.contributionIds.includes(session.friendly_id)
);

const featuredSpeakers = [];
for (const session of featuredSessions) {
    if (session.speakers.length === 0) {
        featuredSpeakers.push({
            name: "TBD",
            profileImg: null,
            title: session.title,
            url: session.url
        });
    }
    
    for (const speaker of session.speakers) {
        const imgId = config.featuredSpeakers.speakerIds.find(
            (user) => speaker.db_id === user.db_id
        );
        featuredSpeakers.push({
            name: speaker.fullName.split(",").join(" "),
            profileImg: imgId?.user,
            title: session.title,
            url: session.url
        })
    }
}

---

{featuredSpeakers.length <= 0 ? "":
<Strip bordered>
    <h2 class="p-heading--4">{t("featured.title")}</h2>
    <Row>
        {
            featuredSpeakers.map((speaker) => (
                <Col size={4} medium={3}>
                    <a class="p-media-object--large p-button--base" href={speaker.url} target="_blank">
                        <img
                            src={speaker.profileImg ? 
                                `https://events.canonical.com/user/${speaker.profileImg}/picture-default`
                                : eventLogo.src
                            }
                            onerror={`this.onerror=null;this.src=${eventLogo.src}`}
                            class="p-media-object__image is-round"
                            alt=""
                            loading="lazy"
                        />
                        <div class="p-media-object__details">
                            <h3>
                                {speaker.name}
                            </h3>
                            <p class="p-media-object__content">
                                {speaker.title}
                            </p>
                            <ul class="p-media-object__meta-list" />
                        </div>
                    </a>
                </Col>
            ))
        }
    </Row>
    <Row>
        <Col size={12}>
            <a href="https://events.canonical.com/event/48/contributions/" target="_blank" class="p-button">
                {t("featured.more")}
            </a>
        </Col>
    </Row>
</Strip>
}

<style>
    h3 {
        color: var(--vf-color-link-default);
    }

    h3, .p-media-object__content {
        margin-bottom: 0;
    }

    .p-button--base {
        text-align: start;
        justify-content: start;
    }
</style>