---
import Shell from "@layouts/Shell.astro";
import BlogFeed from "@components/BlogFeed.astro";
import Sponsors from "@components/Sponsors.astro";
import FeaturedSpeakers from "@components/FeaturedSpeakers.astro";
import { config } from "../../config";
import { Strip, Col, Row, Card, Button } from "@canonical/react-components";
import uck24logo from "@assets/logo.svg";
import { getLangFromUrl, useTranslations } from '@i18n/utils';
export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "ko" } }];
}
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Shell>
    <Strip type="accent" element="section" includeCol={false}>
        <Row>
            <Col size={3} />
            <Col size={9}>
                <p class="p-heading--2">{config.siteTitle}</p>
            </Col>
        </Row>
        <Row>
            <Col size={3}>
                <img src={uck24logo.src} alt="" width="200" />
            </Col>
            <Col size={9}>
                <p class="p-heading--4">
                    {t("event.edition")}
                </p>
                <p class="p-heading--3">
                    {t("event.theme")}
                </p>
                <p class="p-heading--3">
                    {t("event.venuedate")}
                </p>
            </Col>
        </Row>
        <Row>
            <Col size={3} />
            <Col size={9}>
                <a href={`/cfp`} class="p-button--positive">{t("home.cfp")}</a>
                <a href={`/tickets`} class="p-button">{t("home.tickets")}</a>
                <a href={`/${lang}/sponsors/become-a-sponsor/`} class="p-button"
                    >{t("home.sponsor")}</a
                >
            </Col>
        </Row>
        <Row>
            <Col size={12}>
                <div class="p-suru is-dark"></div>
            </Col>
        </Row>
    </Strip>
    <BlogFeed />
    <FeaturedSpeakers />
    <section
        class="p-strip--image is-light"
        style={{
            backgroundImage: `url('${config.cityBanner.image}') `,
            backgroundSize: "cover",
            backgroundPosition: "center center",
        }}
    >
        <Row>
            <Col size={6} emptyLarge={7}>
                <Card title={t(config.cityBanner.title)} overlay>
                    <p>{t(config.cityBanner.description)}</p>
                    {
                        config.cityBanner.buttons.map((item) => (
                            <Button element="a" href={`/${lang}${item.url}`}>
                                {t(item.label)}
                            </Button>
                        ))
                    }
                </Card>
            </Col>
        </Row>
    </section>
    <Sponsors/>
</Shell>

<style></style>
