---
import Shell from "@layouts/Shell.astro";
import BlogFeed from "@components/BlogFeed.astro";
import Sponsors from "@components/Sponsors.astro";
import FeaturedSpeakers from "@components/FeaturedSpeakers.astro";

import { config } from "../../config";
import uck24logo from "@assets/logo.svg";

import { Strip, Col, Row, Button } from "@canonical/react-components";
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { Image } from "astro:assets";

export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "ko" } }];
}
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Shell>
    <Strip type="accent" element="section" includeCol={false}>
        <Row>
            <Col size={3} />
            <Col size={9}>
                <h1 class="p-heading--1">{config.siteTitle}</h1>
            </Col>
        </Row>
        <Row>
            <Col size={3}>
                <Image src={uck24logo} alt="" width="200"/>
            </Col>
            <Col size={9}>
                <p class="p-heading--2">{t("event.theme")}</p>
                <p class="p-heading--2">{t("event.date")}</p>
                <p class="p-heading--2">{t("event.venue")}</p>
            </Col>
        </Row>
        <Row>
            <Col size={3} />
            <Col size={9}>
                <a href={`https://event-us.kr/mypage/allevent`} class="p-button--positive" target="_blank">{t("home.tickets")}</a>
                <a href={`/schedules`} class="p-button" target="_blank">{t("nav.schedules")}</a>
                <a href={`/docs/uck24_timetable.pdf`} class="p-button" target="_blank">{t("nav.schedules.pdf")}</a>
            </Col>
        </Row>
        <Row>
            <Col size={12}>
                <div class="p-suru is-dark"></div>
            </Col>
        </Row>
    </Strip>
    <BlogFeed />
    <FeaturedSpeakers />
    <section
        class="p-strip--image is-light"
        style={{
            backgroundImage: `url('${config.cityBanner.image}') `,
            backgroundSize: "cover",
            backgroundPosition: "center center",
        }}
    >
        <Row>
            <Col size={6} emptyLarge={7}>
                <div class="p-card--overlay">
                    <h2 class="p-heading--3">{t(config.cityBanner.title)}</h2>
                    <p>{t(config.cityBanner.description)}</p>
                    {
                        config.cityBanner.buttons.map((item) => (
                            <Button element="a" href={`/${lang}${item.url}`}>
                                {t(item.label)}
                            </Button>
                        ))
                    }
                </div>
            </Col>
        </Row>
    </section>
    <Sponsors/>
</Shell>

<style></style>
